- if controller_name != 'sessions'
  = link_to "会員登録済みの方", new_session_path(resource_name), class: 'Button'
  %br/
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "新規会員登録の方", new_registration_path(resource_name), class: 'Button'
  %br/
