* {
  box-sizing: border-box;
}
.wrapper{
  display:flex;
  }
  .confirm{
    display:flex;
    justify-self:center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 100%;
    height:100%;
    &__top{
        height:100px;
        font-weight:bold;
        font-size:40px;
        background-color:#F5F5F5;
        display:flex;
        justify-content:space-between;
        padding:30px 40px;
    }
        .confirm__list{
          background-color:#ffffff;
          height:1100px;
          width:837px;
          margin: 40px 100px 40px 100px;
          overflow:scroll;
          display:flex;
          justify-self:center;
          align-items: center;
          flex-direction: column;
          .confirm__purchase{
            height:50px;
            margin:30px 20px;
            font-weight:bold;
            font-size:25px;
          }
          .confirm__item{
            height:150px;
            width:400px;
            border-top: 1px solid rgb(245, 245, 245);
            display:flex;
            justify-content: space-around;
            flex-flow:row-reverse;
            &__image{
              position:relative;
              right:40px;
              margin-top:10px ;
            }
            &__name{
              p{
                position:relative;
              }
              span{
                position:relative;
                left: 70px;
              }
            }
          } 

          .confirm__pay{
            height:190px;
            width:400px; 
            border-top: 1px solid rgb(245, 245, 245);
            &__amount{
              font-size:30px; 
              font-weight:bold;
            }
            &__money{
              font-size:30px;
              font-weight:bold;
              left:200px;
              text-align: right;
            }
            &__point{
              font-size:15px;
              display: flex;
              justify-content: space-between;
              &__use{
                font-size:13px;
              }
            }
          }
          .confirm__method{
            height:305px;
            width:400px;
            font-weight:solid;
            border-top: 1px solid rgb(245, 245, 245);
            &__how{
            display:flex;
            }
            justify-content: space-between;
            &__credit {margin-top:30px;
              p {
                padding: 10px 0;
              }
            }
            
          }
          .confirm__address{
            height:200px;
            width:400px;
            text-align:left; 
            border-top: 1px solid rgb(245, 245, 245);
            
            &__1{
              display: flex;
              justify-content: space-between;
            }
            &__2{
              margin-top:30px;
            }
            
          }
          .confirm__buy{
            button {
              padding-top:10px;
              display:flex;
              justify-self:center;
              align-items: center;
              flex-direction: column;
              width:300px;
              background-color: #3CCACE;
              color:#fff;
              font-size:16px;
              height:50px;
              border-radius: 4px;
              border: 1px solid transparent;
            }
          }
          a {
            text-decoration: none;
          }
        }      
    .confirm__foot{
      background-color:#f5f5f5;
      height:150px;
      width:400px;
      text-align : center;
      &__furima{
        font-size: 15px;
      }
    }
  } 

