.All {
  height: 2300px;
  background-color: rgb(247, 241, 241);
}

.logo_image {
  height: 100px;
  width: 200px;
  padding: 20px;
}

.Header{
  margin: 0 auto;
  height: 100px;
  background-color: rgb(247, 241, 241);
}

.logo {
  text-align: center;
  height: 100px;
  width: 50vw;
  margin: 0 auto;
}

.Middle {
  height: 100vh;
  width: 50vw;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.Form{
  height: 2000px;
  padding: 30px 30px;
  background-color: white;
}

.common_wrapper {
  margin-bottom: 50px;
}

.form_image {
  height: 300px;
  background-color: rgb(197, 240, 197);
}


.price_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field {
  height: 50px;
  width: 45vw;
  margin: 0 auto;
}

#item_category {
  height: 50px;
  width: 45vw;
  margin: 0 auto;
}

#item_prefecture_id {
  height: 50px;
  width: 45vw;
  margin: 0 auto;
}

#item_days_until_shipping {
  height: 50px;
  width: 45vw;
  margin: 0 auto;
}

.explanation_field {
  height: 250px;
  width: 45vw;
  margin: 0 auto;
}

.listing-form-box {
  margin-bottom: 50px;
}

#parent_category {
  height: 40px;
  width: 45vw;
}

#child_category {
  height: 40px;
  width: 45vw;
}

#grandchild_category {
  height: 40px;
  width: 45vw;
}

#item_brand_id {
  height: 40px;
  width: 45vw;
}


#item_status_id {
  height: 40px;
  width: 45vw;
}

#item_delivery_fee_id {
  height: 40px;
  width: 45vw;
}

#item_prefecture_id {
  height: 40px;
  width: 45vw;
}

#item_days_until_shipping_id {
  height: 40px;
  width: 45vw;
}


.content_wrapper {
  display: flex;
  margin-bottom: 20px;
}
.title {
  font-weight: bold;
  font-size: 15px;
}

.require_content {
  color: white;
  border-radius: 10%;
  margin: auto 0;
  font-size: 10px;
  font-weight: bold;
  height: 15px;
  width: 30px;
  text-align: center;
  margin-left: 10px;
  background-color: red;
}

.require_content_brand{
  color: white;
  border-radius: 10%;
  margin: auto 0;
  font-size: 10px;
  font-weight: bold;
  height: 15px;
  width: 30px;
  text-align: center;
  margin-left: 10px;
  background-color: gray;
}

.price_field {
  height: 40px;
  width: 20vw;
  margin-left: 5px;
}

.price_mark_wrapper {
  display: flex;
  align-items: center;
}


.item_submit {
  height: 50px;
  width: 20vw;
  background-color: red;
  color: white;
  margin: 0 200px 10px 200px;
}

.form_btn{
  padding: 0;
}

.return_top {
  text-align: center;
}

.logo-text {
  text-align: center;
}



// ここからトップページのCSS

* {
  box-sizing: border-box;
}

.pcHeader {
  border-bottom: 1px solid #eee;
  .headerInner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    padding: 15px 0 0;
    margin: 0 auto;
    .mainHeader {
      position: relative;
      display: flex;
      align-items: center;
      .searchBox {
        margin-left: auto;
        width: 100%;
        form {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
        }
        input {
          width: calc(100% - 26px);
          height: 36px;
          padding: 0 0 0 5px;
        }
      }
      .icon {
        border-radius: 4px;
        margin-right: 30px;
        padding-bottom: 10px;
        a {
          width: 140px;
          display: block;
        }
        img {
          width: 100%;
          vertical-align: bottom;
        }
      }
      .searchBox {
        width: 100%;
        form {
          width: 100%;
          display: flex;
          input {
            height: 36px;
            width: calc(100% - 26px);
          }
          button {
            width: 36px;
            height: 36px;
            cursor: pointer;
            background-color: #3ccace;
            border-style: none;
            .searchBox__icon img{
              width: 100%;
              vertical-align: bottom;
            }
          }
        }
      }
    }
    .nav {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      .listsLeft {
        position: relative;
        display: flex;
        &__item--first {
          text-decoration: none;
          padding: 0;
        }
        &__item {
          display: flex;
          line-height: 38px;
          padding: 0 0 0 16px;
          a {
            text-decoration: none;
            color: #333;
            padding-right: 30px;
          }
        }
      }
      .displayNone {
        display: none;
      }
      .tree {
        width: 240px;
        position: absolute;
        top: 40px;
        .categoryTree {
          background-color: #fff;
          display: flex;
          flex-direction: column;
          position: relative;
          li {
            position: relative;
          }
        }
      }
      .brandsPulldown {
        position: absolute;

      }
      .listsRight {
        display: flex;
        margin-left: auto;
        &__item {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          a {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
      }
    }
  }
}

.main {
  background-color: #f8f8f8;
  .mainVisual {
    width: 100%;
    height: 560px;
    background-image: image-url('bg-mainVisual-pict_pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__subtitle {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__btn {
        display: flex;
        margin: 24px 0 0 0;
        .aBtn {
          width: 180px;
          margin-right: 10px;
        }
        .gBtn {
          width: 180px;
        }
        img {
          width: 100%;
          vertical-align: bottom;
        }
      }
    }
    
    .picture {
      position: absolute;
      top: 0;
      right: 210px;
    }
  }

  .topIntroduction {
    padding: 60px 20px;
    .subtitle {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .subtitle::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3ccace;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .list {
        width: 30%;
        margin:16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__pict {
          position: relative;
          margin-bottom: 20px;
          .number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span {
            color: #3CCACE;
          }
        }
        &__description {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }

  .topMiddleDl {
    background-image: image-url('bg-topMiddleDl-pict.jpg');
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__inner {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      .subtitle {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      .text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      .btn {
        display: flex;
        a {
          margin-right: 10px;
          .aBtn {
            width: 180px;
          }
          .gBtn {
            width: 180px;
          }
        }
      }
    }
  }

  .topKeyFeatures {
    padding: 60px 100px;
    background-color: #fff;
    .head {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .head::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .items {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .item {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__img {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }
        img {
          width: 100%;
          vertical-align: bottom;
        }
        &__subtitle {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }

  .pickupContainer {
    padding: 80px;
    background-color: #f8f8f8;
    height: 100%;
    .head {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .productBox {
      .productHead {
        text-align: center;
        a {
          text-decoration: none;
          color: #3CCACE;
          .title {
            font-weight: bold;
            font-size: 24px;
          }
        }
      }
      .productLists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        .productList {
          width: 220px;
          display: inline-block;
          a {
            background-color: #fff;
            display: inline-block;
            text-decoration: none;
            .productList__img {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            .productList__body {
              background-color: white;
              color: #333;
              padding: 16px;
              .name {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              .details {
                font-size: 16px;
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  li {
                    .fa {
                      display: inline-block;
                      font: normal normal normal 14px/1 FontAwesome;
                      font-size: inherit;
                      text-rendering: auto;
                      -webkit-font-smoothing: antialiased;
                      ::before {
                        content: "\f005";
                      }
                    }
                  }
                }
                p {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}

.addBanner {
  background-image: image-url('bg-appBanner-pict.jpg');
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .inner {
    color: #fff;
    text-align: center;
    &__title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__icon {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      a {
        margin-right: 10px;
        img {
          width: 180px;
        }
      }
    }
  }
}

.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
  p {
    font-size: 14px;
  }
}

.purchaseBtn {
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__icon {
    width: 60%;
  }
}


// ここからshowのscssを記載

.breadCrumbs {
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  ul {
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    display: flex;
    li {
      padding: 0 10px 0 0;
      float: left;
      a {
        text-decoration: none;
        color: #333;
      }
      .fas {
        display: inline-block;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-weight: 900;
        font-stretch: normal;
        font-size: inherit;
        line-height: 1;
        font-family: "Font Awesome 5 Free";

        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        
        content: "\f105";
        
      }
      
    }

    li:last-child {
      font-weight: bold;
    }

    li::after {
      display: block;
      content: "";
      clear: both;
    }
  }
}

.main {
  background: #f8f8f8;
  .showMain {
    padding: 40px;
    margin: 0 auto;
    .contentLeftqq {
      margin: 0;
      padding: 0;
    }
    .contentRight {
      width: 700px;
      margin: 0 auto;
      .topContent {
        margin: 0;
        padding: 0;
        .itemBox {
          background-color: #fff;
          padding: 24px 40px 40px;
          &__name {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body {
            margin: 16px 0 0;
            ul {
              display: flex;
              position: relative;
              li {
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;
                img {
                  object-fit: cover;
                  height: 346px;
                }
                ul {
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;
                  
                  li {
                    flex-direction: row;
                    width: 25%;
                    margin: 0 10px 0 0;
                    img {
                      object-fit: cover;
                      height: 87px;
                    }
                  }
                }
              }
            }
          }
          .itemBox__price {
            margin: 24px 0 24px;
            display: flex;
            flex-direction: space-around;
            justify-content: center;
            font-size: 30px;
            font-weight: bold;
            span {
              margin: 0 10px 0 10px;
            }
            a {
              margin: 0 10px 0 10px;
            }
            p {
              margin: 0 10px 0 10px;
            }
            
          
          }
      
          .itembox__detail__buy{
            button {
                padding-top:10px;
                justify-self:center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                width:600px;
                font-size:20px;
                background-color: #3CCACE;
                color:#fff;
                height:60px;
                font-weight: bold;
                border: 1px solid transparent;
              a {
                text-decoration: none;
                color: white;
                font-weight: bold;
              }
             
            }
          } 

          .itembox_blank{
            height:50px;
            width:200px;

          }

        
          .table {
            margin-bottom: 20px;
            table {
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              tbody {
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
                tr {
                  display: table-row;
                  vertical-align: inherit;
                  border-color: inherit;
                  th {
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }
                  td {
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    a {
                      text-decoration: none;
                      color: #3CCACE;
                    }
                  }
                }
              }
            }
          }
          .optionalArea {
            display: flex;
            justify-content: space-between;
            ul {
              margin: 10px 0 0;
              display: flex;
            }
            .optional {
              margin: 10px 0 0;
              display: flex;
              .optionalBtn {
                font-size: 14px;
                a {
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                  .fas {
                    display: inline-block;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                  }
                  .fas::before {
                    content: "\f024";
                  }
                }
              }
            }
          }
        }
      }
      .links {
        li {
          float: left;
          a {
            text-decoration: none;
            color: #3CCACE;
            i {
              display: inline-block;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              ::before {
                content: "\f104";
              }
            }
          }
        }
        li:last-child {
          float: right;
          a {
            text-decoration: none;
            color: #3CCACE;
          }
        }
      }
      .links::after {
        display: block;
        content: "";
        clear: both;
      }

      .item__change__box{
        width: 700px;
        height: 270px;
        margin: 0 auto;
        &__edit{
        height: 230px;
        margin: 24px 0 24px 0;
        background: #fff;
        padding: 8px 16px 8px 16px;
          .btn__default{
            display: block;
            margin: 8px 0;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border-radius: 4px;
            border: 1px solid transparent;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;       
            &__btn__blue{
              input.btn__default.btn__blue{
                background-color: #3CCACE;
                border: 1px solid #3CCACE;
                color:white;
                width:660px;
                height:55px;
                border-radius: 4px;
              }
              p.text__center{
                text-align: center;
              }   
            }
              input.btn__default.btn__gray{
                background: #aaa;
                border: 1px solid #aaa;
                background-color:#aaa;
                text-decoration: none;
                color:white;
                width: 660px; 
                height: 55px;
                border-radius: 4px;
              }
              a {
              text-decoration: none;
              color: white;
              }
              
          }
        }
      }


      .relatedItems {
        a {
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }

        .productLists {
          .productList {
            margin: 0 0 10px;
            float: left;
            width: calc(100% / 3);
            a {
              display: block;
              margin: 24px 0 8px;
              color: #3CCACE;
              text-decoration: none;
              font-weight: bold;
              font-size: 22px;
              position: relative;
              
              .productList--img {
                background-color: #fff;
                width: 220px;
                height: 150px;
                position: relative;
                overflow: hidden;
                margin: 0;
                z-index: auto;
                img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  z-index: auto;
                  height: 150px;
                  object-fit: cover;
                }
              }
              .productList--body {
                background-color: white;
                color: #333;
                padding: 16px;
                .name {
                  overflow: hidden;
                  line-height: 1.5;
                  font-size: 16px;
                  text-align: left;
                }
                .details {
                  font-size: 16px;
                  ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  }
                  p {
                    font-size: 10px;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }

      .relatedItems:after {
        display: block;
        content: "";
        clear: both;
      }
    }
  }
  .showMain:after {
    display: block;
    content: "";
    clear: both;
  }
}